body {
    margin: 0%;
    padding: 0%;
    background-color: #F4ECEC;
}

.forget-password-box {
    width: 40%;
    margin: auto;  
    text-align: center;
    margin-top: 10vh;
    border-radius: 10px;
    background-color: white;
    padding: 4vh 4vh;
}


#password-icon  {
    font-size: 4vh;
    color: #228cdc !important;
}

.passwrod-top p {
margin: 2.5vh 0% !important;
font-size: 3vh;
font-weight: bold;
}

.user-name {
    border-bottom: 1px solid black;
    width: 50%;
    margin: auto;
    margin-top: 4vh;
}

.user-name input {
    outline: none;
    border: none;
}


.user-input-otp  img{
    width: 10%;
}


.user-input-otp {
    border-bottom: 1px solid black;
    width: 50%;
    margin: auto;
    margin-top: 4vh;
}

.user-input-otp input {
    outline: none;
    border: none;
}


.btn-sub {
    width: 30%;
    background-color: #228cdc;
    color: white;
    padding: 1vh 5vh;
    border-radius: 10px;
    margin: auto;
    margin-top: 4vh;
    border: none;
}